ion-item{
   
}
ion-label{
}
ion-card-header{
    font-size: 1rem;    
    color:rgb(197, 214, 45);
}
.col1{
    font-size: 1.3rem;
    color: yellow;
}
.col2{
    font-size: 1.3rem;
    color: chocolate;
    
}
ion-card{
    height: min-content;
}
ion-card-header{
    height: min-content;
}
ion-card-content{
    height: min-content;
}